.header {
  background-color: white;
  height: 60px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-weight: 900;
    font-size: 1.714285rem;
    color: #1D5BA2;
    margin-left: 0.5em;
  }
  
}

.profile {
  &__icon {
    width: 44px;
    height: 44px;
    background: #1d5ba2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;

    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
  }
}
