@import-normalize;

button {
    font-family: inherit;
}

@font-face {
    font-family: "SF UI";
    src: local("San Francisco(SF UI) Display Heavy"), local("San-Francisco(SF-UI)-Display-Heavy"),
        url("../assets/fonts/SFUIDisplay-Heavy.woff2") format("woff2"),
        url("../assets/fonts/SFUIDisplay-Heavy.woff") format("woff"),
        url("../assets/fonts/SFUIDisplay-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF UI";
    src: local("San Francisco(SF UI) Display Medium"), local("San-Francisco(SF-UI)-Display-Medium"),
        url("../assets/fonts/SFUIDisplay-Medium.woff2") format("woff2"),
        url("../assets/fonts/SFUIDisplay-Medium.woff") format("woff"),
        url("../assets/fonts/SFUIDisplay-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF UI";
    src: local("San Francisco(SF UI) Display Light"), local("San-Francisco(SF-UI)-Display-Light"),
        url("../assets/fonts/SFUIDisplay-Light.woff2") format("woff2"),
        url("../assets/fonts/SFUIDisplay-Light.woff") format("woff"),
        url("../assets/fonts/SFUIDisplay-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF UI";
    src: local("San Francisco(SF UI) Display Black"), local("San-Francisco(SF-UI)-Display-Black"),
        url("../assets/fonts/SFUIDisplay-Black.woff2") format("woff2"),
        url("../assets/fonts/SFUIDisplay-Black.woff") format("woff"),
        url("../assets/fonts/SFUIDisplay-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF UI";
    src: local("San Francisco(SF UI) Display Bold"), local("San-Francisco(SF-UI)-Display-Bold"),
        url("../assets/fonts/SFUIDisplay-Bold.woff2") format("woff2"),
        url("../assets/fonts/SFUIDisplay-Bold.woff") format("woff"),
        url("../assets/fonts/SFUIDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF UI";
    src: local("San Francisco(SF UI) Display Regular"), local("San-Francisco(SF-UI)-Display-Regular"),
        url("../assets/fonts/SFUIDisplay-Regular.woff2") format("woff2"),
        url("../assets/fonts/SFUIDisplay-Regular.woff") format("woff"),
        url("../assets/fonts/SFUIDisplay-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    background-color: #F3F3F3;
    font-family: SF UI, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    color: #373737;
}

.container {
    max-width: 1194px;
    margin: 0 auto;
    padding: 0 12px;
    width: 100%;
    height: 100%;
}

